{% extends 'base.html' %}
{% block body %}
{% include 'header1.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'user' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'customer-u' %}">
          <i class="bi bi-people"></i><span>Customer</span><i></i>
        </a>
      </li><!-- End customer Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'request_user-u' %}">
          <i class="bi bi-cart4"></i><span>Request</span><i></i>
        </a>
      </li><!-- End request Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'employee-u' %}">
          <i class="bi bi-people"></i><span>Employee</span><i></i>
        </a>
      </li><!-- End employee Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#report-nav" data-bs-toggle="collapse" href="#">
          <i class="bx bx-bar-chart"></i><span>Report</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="report-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'report-u' 1 %}">
              <i class="bi bi-circle"></i><span>Today</span>
            </a>
          </li>
          <li>
            <a href="{% url 'report-u' 2 %}">
              <i class="bi bi-circle"></i><span>Month</span>
            </a>
          </li>
          <li>
            <a href="{% url 'report-u' 3 %}">
              <i class="bi bi-circle"></i><span>year</span>
            </a>
          </li>
        </ul>
      </li><!-- End report Nav -->


  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb" style="font-size: 16px !important;">
          <li class="breadcrumb-item"><a href=""><i class="bi bi-house-door" style="color: red !important;"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- customers Card -->
            <div class="col-xxl-4 col-md-6" onclick="location.href ='{% url 'customer-u' %}'">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <center><h4 class="card-title">Customers</h4></center>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{N_customer}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{inc_custm}}%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End customers Card -->
            <!-- Request Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <center><h4 class="card-title">Request</h4></center>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart4"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End request Card -->

            <!-- Workers Card -->
            <div class="col-xxl-4 col-md-6" onclick="location.href ='{% url 'employee-u' %}'">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <center><h5 class="card-title">Employee</h5></center>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{N_employee}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{inc_emply}}%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Workers Card -->

             <!-- Column Chart -->
             <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Revenue <span>/Months</span></h5>
    
                  <div id="revenueChart"></div>
    
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      let xval = '{% for items in revenulb %}{{ items }},{% endfor %}'
                      let xval1 = xval.split(',')
                      let xval2 = xval1.pop()
                      new ApexCharts(document.querySelector("#revenueChart"), {
                        series: [{
                          name: 'Revenue',
                          data: [{% for item in value1 %} {{ item.amount}},{% endfor %}]
                        },],
                        chart: {
                          type: 'bar',
                          height: 350
                        },
                        plotOptions: {
                          bar: {
                            horizontal: false,
                            columnWidth: '75%',
                            endingShape: 'rounded'
                          },
                        },
                        dataLabels: {
                          enabled: true,
                          formatter: function(val) {
                            return "Tsh " + val.toLocaleString() 
                          }
                        },
                        stroke: {
                          show: true,
                          width: 2,
                          colors: ['transparent']
                        },
                        xaxis: {
                          //categories: [{% for items in revenulb %}{{ items }},{% endfor %}],
                          categories: xval1,
                        },
                        yaxis: {
                          title: {
                            text: 'Revenue in (Tsh)'
                          },
                          labels: {
                            formatter: function(val) {
                              return "Tsh " + val.toLocaleString() 
                            }
                          }
                        },
                        fill: {
                          opacity: 1
                        },
                        tooltip: {
                          y: {
                            formatter: function(val) {
                              return "Tsh " + val.toLocaleString() 
                            }
                          }
                        }
                      }).render();
                    });
                  </script>
                  
                </div>
              </div>
            </div>
            <!-- End Column Chart -->

            <!-- Reports -->
            <div class="col-lg-6">
              <div class="card h-75">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
    
                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                  </ul>
                </div>
                  <div class="card-body overflow-auto" >
                    <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                    <div class="activity">
                      {% for recentA in Recent_activity %}
                      <div class="activity-item d-flex">
                        <div class="activite-label d-flex">{{recentA.date_order|timesince}} ago</div>
                        {% if recentA.status == 2 %}
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        {% else %}
                        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                        {% endif %}
                        <div class="activity-content">
                          {{recentA.worker_id__worker_first_name}} {{recentA.worker_id__worker_last_name}}<span class="fw-bold text-dark"> {{recentA.customer_id__id_vehicle__vehicle_type__types}}</span> {{recentA.customer_id__id_vehicle__vehicle_owner_number|upper}}
                        </div>
                      </div><!-- End activity item-->
                      {% endfor %}
                    </div>
                  </div>

              </div>
            </div><!-- End Reports -->
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>

  </main><!-- End #main -->

{% endblock body%}
