{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carwash</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/img/ci.png' %}" rel="icon">
    <link href="{% static 'assets/img/ci.png' %}" rel="apple-touch-icon">
        <link href="{% static 'assets/webasset/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/lib/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/webasset/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'assets/lib/themes/alertify.core.css' %}" rel="stylesheet">
        <link href="{% static 'assets/lib/themes/alertify.default.css' %}" rel="stylesheet">
        <script src="{% static 'assets/js/sweetalert.min.js' %}" rel="stylesheet"></script>
        {% comment %} map {% endcomment %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nkdhgPZsOlAC4b3IWDAvTm3TSIaef7w&callback=initMap"    type="text/javascript"></script>
        <script src="{% static 'assets/webasset/js/jquery-3.4.1.min.js' %}"></script>    
        <script src="{% static 'assets/webasset/js/alertify.min.js' %}"></script>

</head>
<body>
    {% block body1 %}



    {% endblock body1%}
    {% load static %}  
    
</body>
    <script src="{% static 'assets/webasset/js/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/webasset/js/login.js' %}"></script>
    <!-- JavaScript Libraries -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/webasset/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/webasset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/webasset/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'assets/webasset/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/webasset/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/webasset/lib/counterup/counterup.min.js' %}"></script>
    
    <!-- Contact Javascript File -->
    <script src="{% static 'assets/webasset/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'assets/webasset/mail/contact.js' %}"></script>
    <script src="{% static 'assets/webasset/js/popper.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'assets/webasset/js/main.js' %}"></script>
</html>