{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carwash</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/img/ci.png' %}" rel="icon">
    <link href="{% static 'assets/img/ci.png' %}" rel="apple-touch-icon">
	
	<link rel="stylesheet" type="text/css" href="{% static 'assets/webasset/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/webasset/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/webasset/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/webasset/css/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/webasset/css/util.css' %}">
    {% comment %} map {% endcomment %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nkdhgPZsOlAC4b3IWDAvTm3TSIaef7w&callback=initMap"    type="text/javascript"></script>
    <script src="{% static 'assets/webasset/js/jquery-3.4.1.min.js' %}"></script>    
    <script src="{% static 'assets/webasset/js/alertify.min.js' %}"></script>
</head>
<body>
    {% block body1 %}



    {% endblock body1%}
    {% load static %}  
    
</body>
    <script src="{% static 'assets/webasset/js/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/webasset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/webasset/js/login.js' %}"></script>
    <script>
        function validat_psw(){
        const newPassword = $('#newPassword').val()
        const confirmPassword = $('#confirmPassword').val()
        var Np = $('#newPassword');
        var Cp = $('#confirmPassword');
        var phone = $('#newPhn').val();
        var reg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        var phn = /^[0]{1}[0-9]{9}$/
        
        if(newPassword.trim()=='' || confirmPassword.trim()==''){
            $(".error_m0").text('')
            $("#error_m1").text('')
            return false
        }
        else{
            if(phone.match(phn)){

            }else{
                $('#newPhn').css({"outline":"none","color": "red"})
                return false;
            }
            if(newPassword.match(reg)){ 
            
            }else{
            Np.css({"outline":"none","color": "red"})
            return false;
            }
            if(newPassword != confirmPassword){
            Np.css({"color": "white"})
            Cp.css({"outline":"none","color": "red"})
            
            return false;
            }
        }
        
        }
    </script>
</html>