{% extends 'base1.html' %}
{% block body1 %}
{% load static %}
	<!-- <body class="img js-fullheight"> -->
	<body class="img js-fullheight" style="background-size: cover !important;background-image: url('{% static "assets/webasset/img/carousel-3.jpg" %}');">
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "assets/webasset/img/carousel-3.jpg" %}');">
			<div class="wrap-login100" style="box-shadow: 0 5px 10px rgb(255, 255, 255)  !important;">
                <form action="" class="login100-form validate-form" onsubmit="return validat_psw()" method="POST">
                    {% csrf_token %}
                    <p class="login100-form-title p-b-8 p-t-15">online carwash request</p>
                    <span class="login100-form-logo">
						<img src="{% static 'assets/webasset/img/avatuser.png' %}" class="login100-form-logo">
					</span>
                    <span class="login100-form-title p-b-12 p-t-8">Register</span>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="wrap-input100 validate-input" data-validate="Enter first name">
                                {{form.customer_first_name}}
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter second name">
                                {{form.customer_second_name}}
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter last name">
                                {{form.customer_last_name}}
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter email">
                                {{form.customer_email}}
                                <span class="focus-input100" data-placeholder="&#xf34d;"></span>
                            </div> 
                            <div class="wrap-input100 validate-input" data-validate="Enter gender">
                                {{form.sex}}
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>                                    
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="wrap-input100 validate-input" data-validate="Enter your address">
                                {{form.customer_address}}
                                <span class="focus-input100" data-placeholder="&#xf1ab;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter phone number">
                                {{form.customer_phone}}
                                <span class="focus-input100" data-placeholder="&#xf20a;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                {{form.customer_password}}
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>                        
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Confirm password">
                                <input id="confirmPassword" type="password" class="input100" placeholder="Confirm"  value="" name="cpassword">
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                            </div>                                    
                        </div>
                    </div>
                        <div class="container-login100-form-btn">
                            <button style="align-content:center !important;" type="submit" class="login100-form-btn" name="regist">submit</button>
                        </div>

                        <div class="text-center p-t-15">
						<!-- <a class="txt1" href="#">Forgot Password?</a> -->
						    <a href="{% url 'login-w' %}" class="txt1" style="color: #fff;text-decoration:none;">&mdash; or login if you have an account &mdash;</a>
					    </div>
                </form>	
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	</body>
    {% endblock body1%}


