{% extends 'base.html' %}
{% block body %}
{% include 'header.html' %}
{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'Admins' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'users' %}">
        <i class="ri-car-line"></i><span>Carwash</span><i></i>
      </a>
    </li><!-- End user Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'customer' %}">
        <i class="bi bi-people"></i><span>Customer</span><i></i>
      </a>
    </li><!-- End customer Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'request_user' %}">
        <i class="bi bi-cart4"></i><span>Request</span><i></i>
      </a>
    </li><!-- End request Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'employee' %}">
        <i class="bi bi-people"></i><span>Employee</span><i></i>
      </a>
    </li><!-- End employee Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#report-nav" data-bs-toggle="collapse" href="#">
        <i class="bx bx-bar-chart"></i><span>Report</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="report-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Today</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Month</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>year</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Manual</span>
          </a>
        </li>
      </ul>
    </li><!-- End report Nav -->


</aside><!-- End Sidebar-->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Request</h1>
      <nav>
        <ol class="breadcrumb" style="font-size: 16px !important;">
          <li class="breadcrumb-item"><a href="{% url 'Admins' %}"><i class="bi bi-house-door" style="color: red !important;"></i></a></li>
          <li class="breadcrumb-item active">Request</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
      <div class="row">
          <!-- Recent Sales -->
          <div class="col-12">
          <div class="card recent-sales">

              <div class="card-body">
              <h5 class="card-title">List of Request</h5>
             <div class="table-responsive">
                {% comment %} <table class="table table-borderless datatable"> {% endcomment %}
                <table class="table table-hover table-border datatable">
                  <thead>
                  <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Full name</th>
                      <th scope="col">Phone number</th>
                      <th scope="col">Service name</th>
                      <th scope="col">Company</th>
                      <th scope="col">Date & Time</th>
                      <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for booking in bookings %}
                  <tr id="{{booking.id_booking }}">
                    <th scope="row"><a href="#">#24{{booking.id_booking}}</a></th>
                    <td>{{booking.customer_id__customer_first_name}} {{booking.customer_id__customer_second_name}}</td>
                    <td>{{booking.customer_id__customer_phone}}</td>
                    <td>{{booking.service_booking}}</td>
                    <td>{{booking.id_company__company_name}} Carwash</td>
                    <td>{{booking.date_booking|slice:":10"}} / {{booking.date_booking|slice:"11:16"}}</td>
                    <td>
                      {% if booking.status == 1%}
                        <a href="#"onclick = "pendingStatus('{{booking.id_booking}}')">Pending</a>
                        <!-- delete Modal -->
                        <div class="modal fade" id="penndingStatus" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header" style="background-color: #dee2e6;">
                                <h5 class="modal-title" style="color: green;">Payment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                  <form class="needs-validation" action="{% url 'pay_request' %}" method="POST" novalidate>
                                    <div class="modal-body">
                                    {% csrf_token %}
                                        
                                    <div class="row justify-content-center">													
                                        <div class="container row justify-content-center">
                                            <div class="col-lg-12 col-md-12">
                                              <input type="text" name="bookingId" value="{{booking.id_booking}}" hidden>
                                                <div class="form-group">
                                                    <label for="" >Requested Company</label>
                                                    <input type="text"  class="form-control" value="{{booking.id_company__company_name}} Carwash" name="company" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Car type</label>																			
                                                    <input type="text" class="form-control" value="{{booking.vehicle_type}}" name="cartype" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Service</label>																			
                                                    <input type="text" class="form-control" value="{{booking.service_booking}}" name="services" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Amount</label>																			
                                                    <input type="text" class="form-control" placeholder="Tshs.0" name="amount" required>
                                                </div>
                                                <div class="form-action mt-3" id="card-action">
                                                    <button class="btn btn-success mt-3 form-control" type="submit">submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>

                        </div>
                        </div><!-- End delete Modal-->
                      {% endif %}
                      {% if booking.status == 2%}
                        <a href="#" style="color: #c58504 !important;">To pay</a>
                      {% endif %}
                      {% if booking.status == 3%}
                        <a href="#" style="color: green !important;">Done</a>
                      {% endif %}
                      {% if booking.status == 4%}
                        <a href="#" style="color: green !important;">assign</a>
                      {% endif %}
                      {% if booking.status == 5%}
                        <a href="#" style="color: green !important;">Done</a>
                      {% endif %}
                      {% if booking.status == 6%}
                        <a href="#" style="color: red !important;">Rejected</a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
             </div>
            </div>
          </div>
          </div><!-- End Recent Sales -->

      </div>
      </div><!-- End Left side columns -->
  </div>
  </section>
{% endblock body %}